<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row">
            <div class="col-md-12">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <#if error??>
                    <div class="form-group">
                        <label>${!error}</label>
                    </div>
                    </#if>
                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file"name="image" class="form-control" id="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
        <div class="row">
            <#list images as image>
            <div class="col-md-3">
                <img src="/images/${image.fileName}" height="400" alt="${image.fileName}"/>
            </div>
            </#list>
        </div>

    </body>
</html>
